{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "root~": "./",
          "~/": "./src",
          "~/client": "./src/client",
          "~/server": "./src/server"
        }
      }
    ]
  ]
}
